<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<h3 th:text="${'the power is ' + power}">to the guild</h3>
<h3 th:if="${power &gt; -1 and power &lt; 20000}" th:text="${'C class'}"></h3>
<h3 th:if="${power &gt; 19999 and power &lt; 100000}" th:text="${'B class'}"></h3>
<h3 th:if="${power &gt; 99999}" th:text="${'A class'}"></h3>

</body>
</html>